*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
      margin:0 auto;
      max-width: 1200px;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: white;
  }
  .teamname {
      width: 239px;
      border: 2px solid rgba(218, 202, 202, 0.1);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      color:black;
      border-radius: 10px;
      padding: 20px 40px;
      backdrop-filter: blur(18px);
      margin: 10px;
  }
  
  .teammember {
      width: 239px;
      border: 2px solid rgba(218, 202, 202, 0.1);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 20px 40px;
      backdrop-filter: blur(18px);
      margin: 10px;
  
  }
  #form-a-team {
      color: black;
      font-size: larger;
      font-family: arial;
      margin: 20px;
  
  }
  
  .btn {
      padding: 20px;
      color: white;
      background-color: rgb(98, 36, 85);
      border: 2px solid black;
  
  }
  header{
      height: 75px;
      width: 100%;
      font-family: "times new roman";
      font-size: x-large;
      background-color: pink;
  }
  .page {
      margin-left: 20px;
      margin-right: 20px;
  }